/* 아리따 돋음 */
/* @font-face {
    font-family: 'ari-Thin';
    src: local(※);
    src: url('../font/ari-Thin.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'ari-Light';
    src: local(※);
    src: url('../font/ari-Light.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'ari-Medium';
    src: local(※);
    src: url('../font/ari-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'ari-SemiBold';
    src: local(※);
    src: url('../font/ari-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'ari-Bold';
    src: local(※);
    src: url('../font/ari-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
} */


/* Type Selector Reset */
* {box-sizing: border-box;;}
body {
	-webkit-text-size-adjust: 100%;
	font-weight: 400;
	font-family: 'AppleSDGothicNeo', 'Noto Sans KR', sans-serif;
	/* 'ari-Medium' */
	font-size: 1em;
	line-height: 1.25;
	color: #555;
}
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 100%;
}
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, figure {
	margin: 0;
	padding: 0;
}
header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption {
	display: block;
}
button, input[type=submit], input[type=reset], input[type=button] {
	overflow: visible;
	cursor: pointer;
}
input[type=text], input[type=email], input[type=password], input[type=submit], textarea {
	-webkit-appearance: none;
}
input, select, textarea, button {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 100%;
	border-radius: 0;
}
button {
	overflow: visible;
	margin: 0;
	padding: 0;
	border: 0;
	background: transparent;
}
ul li {
	list-style: none;
}
img, fieldset {
	border: none;
	vertical-align: top;
}
hr {
	display: none;
}
a, a:link {text-decoration:none; color:rgb(185, 185, 185);}
a:visited {text-decoration:none;}
a:hover, a:focus {text-decoration:underline; color: rgb(233, 233, 233);}
a:active {text-decoration:none;}


/* @charset "utf-8"; */
/* @import url('./reset.css'); */
/* @import 'reset.css'; */



/* global */
body { background: #0d1117; color: #e3e3e3; font-size: 14px; line-height: 1.5rem;}
.wrap {display: flex; flex-direction: column; width: 100%; height: 100%;}
.wrap header { flex: 0 0 auto; background: #161b22; padding: 20px;;}
.wrap main { flex: 1 1 auto; padding: 120px 0 80px;}
.wrap footer { flex: 0 0 auto; background: #161b22; padding: 20px;;}

.global_wrap { width: 960PX; margin: 0 auto;}
h2 {font-size: 25px; margin-bottom: 20px;;}
h1 {font-size: 15px;}


/* header */
header {position: fixed; width: 100%;}
header nav > ul {display: flex;}
header nav > ul > li {padding: 0 22px; font-size: 15px; display: flex; align-items: center;}
header nav > ul > li a.on {color: #58a6ff;}


/* line */
ul.line > li {position: relative;}
ul.line > li:first-child {padding-left: 0;}
ul.line > li::before {content: ''; width: 1px; height: 10px; background: #363636; display: block; position: absolute; left: 0px; top: 0; bottom:0; margin: auto 0;}
ul.line > li:first-child::before {content: none;}


/* contents */
section.conts + section.conts {margin-top: 40px;}

.item_wrap + .item_wrap {margin-top: 15px;}
.conts .item {/*padding-left: 13px;*/  position: relative; display: flex; ;}
/* .conts .item::before {content: ''; width: 7px; height: 1px; background: rgb(46, 46, 46); display: inline-block; position: absolute; left: 0; top:2px;  transition: all .5s;} */
/* .item_wrap.on .item::before { width: 7px; height: 1px;  background: #fff;} */
.conts .item > dt > button {flex: 0 0 auto; padding: 4px 10px; background: #161b22; border-radius: 10px; font-size: 15px;  color: #e3e3e3;}

.conts .item > dt > button.active {background: #e3e3e3; color: #161b22;}
.conts .item > dd {flex: 1 1 auto; width: 100%; padding-left: 20px;}
.conts .code_wrap {/*margin-left: 15px;*/ opacity: 0; height: 0; transition: opacity .1s;}
.item_wrap pre, 
.item_wrap code {height: 0;overflow-y: hidden;}
.item_wrap.on pre, 
.item_wrap.on code {height: 100%;}
.conts .code_wrap.active {opacity: 1; height: 100%; }


.hljs {
    font-size: 14px;
    font-family: 'consola' !important;
	padding: 0 20px !important;
    background: #161b22;
    border-radius: 10px;
}
.hljs-comment {font-style: normal;}







@media (max-width: 960px) {
    .global_wrap { width: 100%; margin: 0 auto; padding: 0 20px;}
}
